#!/usr/bin/make -f

include /usr/share/openstack-pkg-tools/pkgos.make

%:
	dh $@ --buildsystem=python_distutils --with python3

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	for i in $(PYTHON3S) ; do \
		PYTHON=python$$i NOSE_WITH_OPENSTACK=1 \
			NOSE_OPENSTACK_COLOR=1 \
			NOSE_OPENSTACK_RED=0.05 \
			NOSE_OPENSTACK_YELLOW=0.025 \
			NOSE_OPENSTACK_SHOW_ELAPSED=1 \
			CLIENT_NAME=octavia-dashboard \
			DJANGO_SETTINGS_MODULE=octavia_dashboard.tests.settings \
			python3 -m coverage run \
			$(CURDIR)/manage.py test octavia_dashboard --settings=octavia_dashboard.tests.settings ; \
	done
endif

override_dh_auto_clean:
	python3 setup.py clean

override_dh_auto_build:
	echo "Do nothing..."

override_dh_clean:
	dh_clean -O--buildsystem=python_distutils
	find . -name '*pyc' -delete
	rm -f octavia_dashboard/tests/.secret_key_store
	rm -rf .coverage
	rm -rf build
	rm -f AUTHORS ChangeLog

override_dh_auto_install:
	for i in $(PYTHON3S) ; do \
		python$$i setup.py install --install-layout=deb --root $(CURDIR)/debian/python3-octavia-dashboard ; \
	done

	# Activates the octavia_dashboard plugin in Horizon
	# octavia_dashboard/enabled/_*
	mkdir -p $(CURDIR)/debian/python3-octavia-dashboard/usr/lib/python3/dist-packages/openstack_dashboard/enabled
	cp -r $(CURDIR)/octavia_dashboard/enabled/_14* $(CURDIR)/debian/python3-octavia-dashboard/usr/lib/python3/dist-packages/openstack_dashboard/enabled
